.scroll-list h3 {
	border-top: solid 1px #140e0e;
	padding-left: 10px;
	background-image: -webkit-gradient(linear,0% 0%, 0% 100%, from(#292929), to(#1A1A1A));
	height: 22px;
	line-height: 22px;
	-webkit-text-shadow: 0 0 2px #000;
	color: #fff;
}
.swipeview-slider > div {
	position: relative;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}


.swipeview-slider span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	display: block;
	background: rgba(0,0,0,0.75);
	font-size: 20px;
	text-align: center;
	text-shadow: 0 1px 0 #000;
	border-top: 1px solid rgba(255,255,255,0.2);
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-transition-duration: .3s;
	-webkit-transition-property: -webkit-transform;
	-webkit-transform: translate3d(0,100%,0);
}
.swipeview-slider .swipeview-active span {
	-webkit-transform: translate3d(0,0,0);
}
.list-view {
	border-top: solid 1px #140e0e;
	background:#333;
}



.carousel-block {
	height: 200px;
	margin: 0 auto;
	width: 300px;
	overflow: visible !important;
}
.gallery-view-block{
	margin:0 auto;
}
.carousel-block .col {
	width: 100%;
	-webkit-perspective: 300;
}
.swipeview-box {
	display: block;
/*	border: 5px solid #eee;*/
	-webkit-box-shadow: 0 2px 6px #000;
	/*-webkit-border-radius: 10px;*/
	-webkit-transition-duration: .4s;
	-webkit-transition-property: opacity;
	-webkit-box-sizing: border-box;
	opacity: 1;
	width: 140px;
	height: 190px;
	overflow: hidden;
	text-align: center;
	float: left;
	background:#ddd;
	margin: 0 5px;
}
.gallery-view-block .swipeview-box{
	width:100%;
	margin:0;
	height:100%;
	background:none;
	-webkit-box-shadow: 0 0px 0px #000;
	
}
.swipeview-box img {
	min-width: 100%;
	min-height: 100%;
	background: #eee;
	
}
.gallery-view-block .swipeview-box img{
	min-width:96%;
	min-height:0;
	max-width:96%;
	width:96%;
	max-height:95%;
	-webkit-box-shadow: 0 3px 6px #000;
	-webkit-border-radius: 10px;
	
}
.gallery-view-block .title-wrap {
	position:absolute;
	bottom:0;
	height:50px;
	background:rgba(0,0,0,0.6);
	-webkit-border-radius:5px 5px 0 0;
	left:0px;
	right:0px;
	z-index: 100;
}
.gallery-view-block .title-wrap span{
	padding:15px;
	margin-right:60px;
	color:#fff;
	line-height:20px;
	font-size:14px;
	height:20px;
	overflow:hidden;
	display:block;
}
.gallery-view-block .title-wrap a {
	position:absolute;
	right:10px;
	top:20px;
}
.carousel-block > div > .swipeview-loading .swipeview-box, .swipeview-slider img.loading {
	-webkit-transition-duration: 0s;
}
.carousel-block > div > .swipeview-loading .swipeview-box img {
	-webkit-transition-duration: 0s;
	opacity: 0;
}
.carousel-block > div > .swipeview-loading span {
	-webkit-transition-duration: 0;
	-webkit-transform: translate3d(0,100%,0);
}