html {
	height:100%;
}
body{
	background:#222;
	width:320px;
	height:100%;
	margin:0 auto;
	position:relative;
}

#wrapper{
	position:absolute; z-index:1;
	top:48px; bottom:0px; left:0;
	width:100%;
	background:#222;
	overflow:auto;
}
.popBigPicWrap {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.3);
	-webkit-perspective:300;
	z-index: 10000;
}
.scroll-area {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}
.scroll-area .switch-block {
	background:#444;
	-webkit-box-shadow:0 0 10px #000;
}
/*switch page*/
.switch-block {
	position:relative;
	overflow-x:hidden;
}
.onSwitch {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	overflow:hidden;
}
.beforeShow{
	opacity:0;
	-webkit-transform:scale(0.3);
}

.afterShow {
	-webkit-transition: all 0.6s;
	opacity:1;
	-webkit-transform:scale(1);
}
.beforeHide {
	opacity:1;
	-webkit-transform:scale(1);
}
.afterHide {
	-webkit-transition: all 0.6s;
	opacity:0;
	-webkit-transform:scale(0.3);
}
