html {
	overflow:hidden;
}
body{
	height:150%;
}
.header {
	height:48px;
	background:#333;
}
#wrapper{
	position:absolute; z-index:1;
	top:48px; bottom:0px; left:0;
	width:100%;
	background:#aaa;
	overflow:auto;
}
.scroll-area {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}
.scroll-area .switch-block {
	background:#fff;
}
/*switch page*/
.onSwitch {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	overflow:hidden;
}
.beforeShow{
	opacity:0;
	-webkit-transform:scale(0.3);
}

.afterShow {
	-webkit-transition: all 0.6s;
	opacity:1;
	-webkit-transform:scale(1);
}
.beforeHide {
	opacity:1;
	-webkit-transform:scale(1);
}
.afterHide {
	-webkit-transition: all 0.6s;
	opacity:0;
	-webkit-transform:scale(0.3);
}

/**
 * carousel
 */

#swipeview-slider > div {
	position:relative;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	overflow:hidden;
}

#swipeview-slider img {
	display:block;
	border:5px solid #eee;
	-webkit-box-shadow:0 2px 6px #000;
	-webkit-border-radius:2px;
	-webkit-transition-duration:.4s;
	-webkit-transition-property:opacity;
	opacity:1;
	pointer-events:none;
	max-width:260px;
	max-height:340px;
}

#swipeview-slider span {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:20px 0;
	display:block;
	background:rgba(0,0,0,0.75);
	font-size:20px;
	text-align:center;
	text-shadow:0 1px 0 #000;
	border-top:1px solid rgba(255,255,255,0.2);
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-transition-duration:.3s;
	-webkit-transition-property:-webkit-transform;
	-webkit-transform:translate3d(0,100%,0);
}

#swipeview-slider .swipeview-active span {
	-webkit-transform:translate3d(0,0,0);
}
#carousel{
	height:360px;
	margin:0 auto;
	width:280px;
	overflow:visible !important;
}
#carousel > div > .swipeview-loading {
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#555)),
		-webkit-gradient(linear, 0 0, 100% 0, from(#777), to(#777));
	background-position:50% 50%, 50% 50%;
	background-size:200px 140px, 210px 150px;
	background-repeat:no-repeat;
}

#carousel > div > .swipeview-loading img,
#swipeview-slider img.loading {
	-webkit-transition-duration:0;
	opacity:0;
}

#carousel > div > .swipeview-loading span {
	-webkit-transition-duration:0;
	-webkit-transform:translate3d(0,100%,0);
}